
.navbar ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  width: 100%;
  
}

.navbar ul li a {
  color: white; 
  text-decoration: none;
  font-weight: bold;

}

.navbar ul li a:hover {
  color: black;
}